<h1>show articles  </h1>
<p><strong>title:</strong><%= @article.title %> </p>
<p><strong>description:</strong><%= @article.discription %></p>
<p><strong>created_at</strong><%= @article.created_at %> </p>
<p><strong>updated_at</strong><%= @article.updated_at %></p>
<p><strong>user name</strong><%= @article.user.username %></p>
<p><strong>user ID</strong><%= @article.user.id %></p>

<%=button_to 'all articles',articles_path, method: :get%>
<%=button_to 'edit',edit_article_path(@article), method: :get%>
<%=button_to 'Delete',article_path(@article), method: :delete, onclick: "return confirm('Are you sure?')"%>
